connections:
  - name: db1
    user: postgres
    password: password1
    host: host1
    port: 5432
  - name: db2
    user: postgres
    password: password2
    host: host1
    port: 5432
    database: mydb2